{{#each posts}}
<div class="card mt-3">
  <h5 class="card-header ">{{ this.title }}</h5>
  <div class="card-body">
    <p class="card-text">{{ this.content}}</p>
    <a href="/post/{{ this.id }}" class="btn btn-info">Detail</a>
  </div>
</div>
{{/each}}
